

CC = /usr/local/$(CUDA_VERSION)/bin/nvcc
CXX = /usr/local/$(CUDA_VERSION)/bin/nvcc
NVCC = /usr/local/$(CUDA_VERSION)/bin/nvcc
LINKER = /usr/local/$(CUDA_VERSION)/bin/nvcc

# Set GPU arch targeted optimizations. If you don't want, set it empty
GPU_TARGETED_ARCH_FLAGS := -gencode arch=compute_86,code=sm_86

CC_FLAGS = -O3 -lgomp
CXX_FLAGS = -O3 -lgomp

# Set CUDA object compiler flags (i.e. optimizations)
NVCC_FLAGS += $(GPU_TARGETED_ARCH_FLAGS)
NVCC_FLAGS += -O3 -lgomp

# Set CUDA object linker flags (i.e. libs, optimizations, etc.)
LINKER_FLAGS += -lcudart -lcuda -lm
LINKER_FLAGS += -O3 -lgomp

CUDA_SAMPLES_PATH_ = /usr/local/$(CUDA_VERSION)/samples/

COMPILER_NAME = nvcc