CC = $(CUDA_INSTALL_PATH)/bin/nvcc
CXX = $(CUDA_INSTALL_PATH)/bin/nvcc
NVCC = $(CUDA_INSTALL_PATH)/bin/nvcc
LINKER = $(CUDA_INSTALL_PATH)/bin/nvcc


# Set GPU arch targeted optimizations. If you don't want, set it empty
# You can also pass this from CLI (" make CUDA GPU_TARGETED_ARCH_FLAGS="-gencode arch=compute_86,code=sm_86" ")
GPU_TARGETED_ARCH_FLAGS ?= -gencode arch=compute_86,code=sm_86

# Set CUDA object compiler flags (i.e. optimizations)
NVCC_FLAGS += $(GPU_TARGETED_ARCH_FLAGS)


CC_FLAGS += -O3 -lgomp
CXX_FLAGS += -O3 -lgomp


# # Set CUDA object compiler flags (i.e. optimizations)
# NVCC_FLAGS += $(GPU_TARGETED_ARCH_FLAGS)
NVCC_FLAGS += -O3 -lgomp


# Set CUDA object linker flags (i.e. libs, optimizations, etc.)
LINKER_FLAGS += -lcudart -lcuda -lm
LINKER_FLAGS += -O3 -lgomp
